#messages .message {
    min-width: 250px;
    max-width: 600px;
    padding: 10px;
    margin: 10px;


    background: white;
    border: 2px solid var(--secondary);
    outline: 5px solid white;
}
#messages .message.start {
    border-radius: 15px 0 15px 0

}
#messages .message.end {
    border-radius: 0 15px 0 15px

}

#messages .editor-wrapper{
    margin-top: 10px;
    background: white;
    max-width: 100%;
    border: 5px solid var(--secondary);
    border-radius: 0 15px 0 15px
}
#messages button[type="submit"]{
    width: 60px;
    height: 60px;
    border-radius: 50%
}

