.message {
    min-width: 250px;
    max-width: 600px;
    padding: 10px;
    margin: 10px;


    background: white;
    border: 2px solid var(--secondary);
    outline: 5px solid white;
}
.message.start {
    border-radius: 15px 0 15px 0

}
.message.end {
    border-radius: 0 15px 0 15px

}

.editor-wrapper{
    margin-top: 10px;
    background: white;
    max-width: 75%;
    border: 5px solid var(--secondary);
    border-radius: 0 15px 0 15px
}


