.chatPreview img{
    width: 60px;
    height: 60px;
    border: 2px solid white;
}
.chatPreview{
    color: black;
    background: white;
}
.chatPreview .partial-msg{
    font-weight: lighter;
    font-size: 16px;
    color: var( --primary );
}