


#messages .message {
    min-width: 250px;
    max-width: 600px;
    padding: 10px;
    margin: 10px;

    background: white;
    border: 2px solid var(--secondary);
    outline: 5px solid white;
}
#messages .message.start {
    border-radius: 15px 0 15px 0
}
#messages .message.end {
    border-radius: 0 15px 0 15px
}


