#profileModal{
    border-radius: 20%!important;
    background-color: transparent!important;
    color: white;
    border-color: transparent!important;
}

#profileModal .modal-header{
   /*  background: linear-gradient(214deg, rgba(23,33,70,1) 19%, rgba(31,34,87,1) 42%, rgba(23,33,70,1) 83%); */
   background-color: #4A4BEC;
    border-bottom: none!important;
    border-top-right-radius: 15px!important;
    border-top-left-radius: 15px!important;
    border-color: none;
    border-top-color:rgb(99, 97, 97) ;
    padding-right: 2em!important;
    padding-top: 2em!important;
}

#profileModal .modal-body{
    background-color: #4A4BEC;
}

#profileModal .modal-footer{
    /* background: linear-gradient(214deg, rgba(23,33,70,1) 19%, rgba(31,34,87,1) 42%, rgba(23,33,70,1) 83%); */
    background-color: #4A4BEC;
    border-color:rgb(99, 97, 97)!important ;
    border-bottom-right-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
}

#modal-heading{
    text-align: center!important;
}

#profileModal .modal-content{
    background-color: transparent!important;
    border-color: transparent!important;
}

#profileModal button{
    background-color: transparent!important;
    border-color: transparent!important;
    padding: 0;
}

#profileModal button:hover{
    background-color: rgb(71, 69, 69)!important;
}

#profileModal button:focus{
   border-color: transparent!important;
}

#profileModal button:focus-visible{
    border-color: transparent!important;
}

.btn.focus, .btn:focus{
    box-shadow: transparent!important;
}

.btn-primary.focus, .btn-primary:focus{
    box-shadow: transparent!important;
}

#profileModal svg{
    color:white!important;
    width: 26px;
    height: 26px;
}

.modalProfilePic{
    border-radius: 50%;
    width: 300px;
}