:root{
    --main-bg: white;
    --primary: #4a4bec;
    --secondary: palegreen;
    --main-font: Garamond
}

body{
    margin: 0;
    background: var(--main-bg);
    font: var(--main-font)
}

 .container, .container-fluid{
 height: 100vh;
}
.row{
height: 100%
}
/*
main{
    height: 100%
}
*/
body *{
    border-radius: 5px;
}

div, p{

}



